body{
    background: #fea7b6;
    background-color: oklch(97.331% 0.03812 192.7 / 0.914);
}
p{
    font-size:medium;
    font-style: italic;
    color:crimson;
    font-weight: bold;
}


.Intro{
    color: blue;
}

.Body1{
    color: darkred;
}

.Conclusion{
    color: darkgreen;
}

h1,h2,h3,h4{
    color: black;
}

.highlight{
    text-transform: uppercase;
    background-color: hsl(346, 86%, 40%);
    font-weight: bolder;
    color: rgb(255, 235, 205);
    
}


